Repository Sanjay8602/AutoGPT, pull requests merged in 2024-08, with the labels that each got.

#1 create unify.py
  forge/forge/llm/providers/unify.py
Labels: Forge, size/xs

#2 Adding unify.py
  forge/forge/llm/providers/schema.py
  forge/forge/llm/providers/unifyai/unifyai.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
Labels: Forge, Server, size/l

#3 Added class ratelimit, model selector with example and more to be com…
  forge/forge/llm/providers/unifyai/unifyai.py
Labels: Forge, size/l

#4 Anmol unify ai
  forge/forge/llm/providers/unify.py
  forge/forge/llm/providers/unifyai/unifyai.py
  frontend/pubspec.lock
  rnd/autogpt_builder/yarn.lock
  rnd/autogpt_server/autogpt_server/blocks/llm.py
Labels: Forge, Server, size/l, Frontend, Builder

#6 added readme
  forge/forge/llm/providers/unifyai/README.md
Labels: Forge, size/xs

#8 did some changes relation to inbuilt function
  forge/forge/llm/providers/multi.py
  forge/forge/llm/providers/unifyai/unifyai.py
Labels: Forge, size/m
